<!--
<form 
  *ngIf="capabilityForm"
  [formGroup]="capabilityForm">
    <div formArrayName="capabilities">
      <div *ngFor="let capability of capabilityForm.controls['capabilities'].controls; let i = index">
        <div [formGroupName]="i">
          <input type="text" formControlName="capability">
          <input type="text" formControlName="subCategory">
          <input type="text" formControlName="skill">
          <input type="text" formControlName="skillId">
          <button (click)="enableSection(i, capability.disabled)">{{ capability.disabled ? 'Edit': 'Save' }}</button>
        </div>
      </div>
    </div>
</form>
 -->
<form *ngIf="recipeForm" [formGroup]="recipeForm">
  <h1>{{ recipeForm.value.title }}</h1>
  <br />
  <div>difficulty: <input type="number" formControlName="difficulty" /></div>
  <div>serving: <input type="number" formControlName="serving" /></div>
  <div>cookingTime: <input type="number" formControlName="cookingTime" /></div>
  <div formArrayName="ingredients">
    <p>Ingredients:</p>
    <div
      *ngFor="
        let ingredient of recipeForm.controls['ingredients'].controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <input type="text" formControlName="name" />
      </div>
    </div>
  </div>
  <div formArrayName="categories">
    <p>categories:</p>
    <div
      *ngFor="
        let ingredient of recipeForm.controls['categories'].controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <input type="text" formControlName="name" />
      </div>
    </div>
  </div>
  <div>
    preparation: <input type="text" size="50" formControlName="preparation" />
  </div>
</form>
